[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/poky
[submodule "layers/meta-sunxi"]
	path = layers/meta-sunxi
	url = https://github.com/electricworry/meta-sunxi.git
[submodule "layers/meta-arm"]
	path = layers/meta-arm
	url = https://git.yoctoproject.org/meta-arm
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
